{{!-- <footer class="footer">
	<div class="container-fluid">
		<p class="text-muted">Place sticky footer content here.</p>
	</div>
</footer> --}}


<footer>
	<p class="back-to-top clearfix cd-top">
		Back to Top
	</p>	
	<div class="footer-info">
		<div class="foot-logo">              
	        <a href="/"> DongShop</a>
	    </div>
		{{!-- <p class="footer-info-dongdong">DongDong</p>
		<p class="footer-info-trading">T r a d i n g</p> --}}
	</div>
</footer>